/*
Execution API

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DefaultApiService DefaultApi service
type DefaultApiService service

type ApiRunFunctionRequest struct {
	ctx _context.Context
	ApiService *DefaultApiService
	environment string
	customerID string
	namespace string
	fnName string
	versionNumber string
	body *string
	xAtmoState *string
}

// The payload bytes to be used as input to the function.
func (r ApiRunFunctionRequest) Body(body string) ApiRunFunctionRequest {
	r.body = &body
	return r
}
func (r ApiRunFunctionRequest) XAtmoState(xAtmoState string) ApiRunFunctionRequest {
	r.xAtmoState = &xAtmoState
	return r
}

func (r ApiRunFunctionRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.RunFunctionExecute(r)
}

/*
RunFunction Executes the given function, with the provided body, params and state loaded into the function at runtime.

 @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param environment The root compute environment (i.e. the vendor)
 @param customerID The vendor's customer (i.e. the user)
 @param namespace The function namespace (vendor-defined groups of functions)
 @param fnName The function name (customer-defined)
 @param versionNumber The module version
 @return ApiRunFunctionRequest
*/
func (a *DefaultApiService) RunFunction(ctx _context.Context, environment string, customerID string, namespace string, fnName string, versionNumber string) ApiRunFunctionRequest {
	return ApiRunFunctionRequest{
		ApiService: a,
		ctx: ctx,
		environment: environment,
		customerID: customerID,
		namespace: namespace,
		fnName: fnName,
		versionNumber: versionNumber,
	}
}

// Execute executes the request
func (a *DefaultApiService) RunFunctionExecute(r ApiRunFunctionRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.RunFunction")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/{environment}.{customerID}/{namespace}/{fnName}/{versionNumber}"
	localVarPath = strings.Replace(localVarPath, "{"+"environment"+"}", _neturl.PathEscape(parameterToString(r.environment, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"customerID"+"}", _neturl.PathEscape(parameterToString(r.customerID, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", _neturl.PathEscape(parameterToString(r.namespace, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"fnName"+"}", _neturl.PathEscape(parameterToString(r.fnName, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"versionNumber"+"}", _neturl.PathEscape(parameterToString(r.versionNumber, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.body == nil {
		return nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAtmoState != nil {
		localVarHeaderParams["X-Atmo-State"] = parameterToString(*r.xAtmoState, "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
